
.container-description{

}
.container-description h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Onest';
    padding: 50px 0;
}
.description__group {
    margin-bottom: 40px;
}
.description__group h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Onest';
    padding-bottom: 10px;
}
.description__group p {
    font-size: 20px;
    font-family: 'Onest';

}
.description__group ul li {
    font-size: 20px;
    font-family: 'Onest';
}
.description__group span {
    font-size: 22px;
    font-family: 'Onest';
    color: dodgerblue;
}

.swiperRewards {
    width:500px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.description__group-grid {
    height: 30vh;
    max-width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(1, 1fr);
}
