@page
@model college.Pages.DescriptionModel
@{
}
@*<link rel="stylesheet" href="lib/swiper/package/swiper-bundle.min.css" />*@

<div class="container container-description">
    <h1>О нас</h1>
    <div class="description">
        <div class="description__group">
             <h2>ГБПОУ РО «Ростовский-на-Дону колледж радиоэлектроники, информационных и промышленных  технологий» – одно из старейших учебных заведений Юга России, основанное в 1900 г.</h2>
             <h2>Сегодня в колледже учится около 1400 студентов</h2>
             <p>
                Подготовку специалистов обеспечивает высокопрофессиональный коллектив преподавателей: 7 преподавателей являются  кандидатами технических наук; 35 имеют высшую квалификационную категорию; 14 имеют первую квалификационную категорию; 14 человек награждены нагрудным знаком «Почётный работник среднего профессионального образования Российской Федерации»; 5 человек награждены знаком «За отличные успехи в ССО»; 2 человека награждены знаком «Отличник народного просвещения»; 2 человека награждены значком «Почетный радист»; 20 человек награждены Почётной грамотой Министерства образования Российской Федерации; 6 человек награждены Почётной грамотой Министерства общего и профессионального образования Ростовской области; 7 человек являются лауреатами Гранта Губернатора Ростовской области и Джорджа Сороса.
            </p>
        </div>
        <div class="description__group">
           <h2>В рамках сложившихся партнерских отношений Колледж осуществляет тесное взаимодействие с высшими учебными заведениями города Ростова-на-Дону и Ростовской области:</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    &#10004; ФГБОУ ВО «Донской государственный технический университет» (ДГТУ);
                </li>
                <li class="list-group-item">
                    &#10004; ФГБОУ ВО «Ростовский государственный экономический университет» (РИНХ);
                </li>
                <li class="list-group-item">
                    &#10004; ФГАОУ ВО «Южный федеральный университет» (ЮФУ)
                </li>
                <li class="list-group-item">
                    &#10004;Донской казачий государственный институт пищевых технологий и экономики (филиал)  ФГБОУ ВО «Московский государственный университет технологий и управления имени К.Г. Разумовского» в г. Ростове-на-Дону
                </li>
                <li class="list-group-item">
                    &#10004; ФГБОУ ВО «Российская академия народного хозяйства и государственной службы при Президенте РФ» (РАНХиГС).
                </li>
            </ul>
        </div>
        <div class="description__group">
            <h2>Здания и оборудование:</h2>
            <p>Общая площадь помещений, в которых осуществляется образовательная деятельность, в расчете на одного студента составляет 15373 кв.м.
                Общая площадь учебно-производственных мастерских (УПМ) — 650,2 кв. м,
                </br>
                в том числе:
                </br>
                — слесарно-механические участки — 402,1 кв. м;
                </br>
                — радиомонтажный участок — 97,1 кв. м;
                </br>
                — участок станков с ЧПУ — 48 кв.м;
                </br>
                Количество компьютеров со сроком эксплуатации не более 5 лет в расчете на одного студента – 0,16 единиц
                </br>
                Кабинеты и лаборатории оснащены всем необходимым оборудованием:
                </br>
                техническими средствами обучения, наглядными пособиями, лабораторными стендами, измерительными приборами и другим.
            </p>
        </div>
        <div class="description__group">
            <h2>Доступ к информационным системам и информационно-телекоммуникационным сетям</h2>
            <p>Локальная вычислительная сеть объединяет компьютеры административных работников и компьютеры, используемые в образовательном процессе (т.ч. адаптированное для лиц с ограниченными возможностями здоровья ), в единое информационное пространство, обеспечивающее:
            обмен информацией, документами, отражающими деятельность подразделений колледжа;
            доступ  учебно-методическим материалам;
            тестирование уровня знаний и подготовки обучающихся по различным специальностям;
            использование электронных образовательных ресурсов колледжа и др.
            Обеспечивается доступ к Интернет-ресурсам преподавателям, сотрудникам и студентам колледжа. </br>
            Услуги связи предоставляет АО «ЭР-Телеком Холдинг», скорость передачи данных 150 Мб/с; ПАО «Ростелеком», скорость передачи данных 100 Мб/с.
            </p>
        </div>
        <div class="description__group">
            <h2>Дальнейшее обучение</h2>
            <p>
            Выпускники колледжа имеют возможность без ЕГЭ, на основании вступительных испытаний и диплома колледжа поступить в ВУЗы на обучение по профилю специальности по заочной форме в сокращенные сроки.
            Для поступления в ВУЗы на обучение по очной форме необходимы результаты ЕГЭ, который студенты могут сдать в процессе обучения в колледже после первого курса. Срок действия сертификата с результатами ЕГЭ для поступления – 4 года.
            В колледже созданы комфортные условия для образования, что дает нашим студентам возможность не только приобретать знания, но и видеть себя в будущей профессии. На предприятиях г. Ростова-на-Дону – ОАО «Роствертол», ОАО КЗ «Ростсельмаш», ФГУП «РНИИРС» и др. – организована производственная практика студентов, и в дальнейшем начинается большая дорога в жизнь многих выпускников нашего учебного заведения, нашедших свое призвание и успешно работающих на благо Отечества.
            Диплом выпускника нашего колледжа высоко ценится работодателями. Подтверждением этого являются многочисленные благодарственные письма и положительные отзывы администрации предприятий, где работают наши выпускники.
            Нам не безразлична дальнейшая судьба наших выпускников, мы внимательно отслеживаем их профессиональное самоопределение. В 2016 году было выпущено 197 специалистов, из них 14 человек продолжили обучение в ВУЗах, 108 – трудоустроились, 75 – служат в Вооруженных силах РФ.
            Колледж в рамках дополнительного образования на коммерческой основе проводит переподготовку и подготовку в области информационных и промышленных технологий. Обучение проводят высококвалифицированные специалисты в хорошо оснащенных компьютерных учебных классах. По результатам успешного прохождения обучения и сдачи экзаменов выдается соответствующие удостоверение либо свидетельство.
            </p>
        </div>
        <div class="description__group">
            <h2>Материально-техническая база колледжа – это два учебных корпуса и общежитие.</h2>
            <p>
                В настоящее время в колледже 15 компьютерных классов,</br>
                29 лабораторий,</br> 
                59 оборудованных кабинетов,</br> 
                две библиотеки с читальными залами,</br>
                два музея: истории колледжа и боевой славы;
                </br>
                4 спортивных зала,  два пункта медицинского обслуживания.
                </br>
            </p>
        </div>
        <div class="description__group">
            <h2>Мероприятия и конкурсы</h2>
            <p>
                Сегодня, как и много лет назад, качество преподавания остается на высоком уровне. Свидетельством этого являются призовые места, традиционно занимаемые студентами на городских и областных олимпиадах и конкурсах, предметных олимпиадах, региональных этапах Всероссийских олимпиад профессионального мастерства, Всероссийских и международных олимпиадах.
                Наши студенты отлично проявляют себя и отстаивают честь колледжа в различных конкурсах технического творчества, ежегодно становятся  победителями  областной выставки-конкурса научно-исследовательских и опытно-экспериментальных работ по физике. Ежегодно студенты колледжа являются победителями и призерами региональных этапов Всероссийских олимпиад профессионального мастерства, Всероссийских олимпиад профессионального мастерства, региональных чемпионатов World Skills.
            </p>    
            <p>
                Большое внимание уделяется спортивной жизни колледжа. Преподаватели физического культуры формируют у студентов умение работать в команде, прививают любовь к спорту, здоровому образу жизни. Каждый год на левом берегу Дона проводятся Дни здоровья, где ребята имеют возможность проявить себя в различных спортивных состязаниях: комбинированная эстафета, стрельба, перетягивание каната и др. В колледже работают спортивные секции по волейболу, футболу, баскетболу, легкой атлетике. Команды колледжа по мини-футболу, волейболу, баскетболу и легкой атлетике – призеры спартакиад среди ССУЗов г. Ростова-на-Дону.
            </p>
            <p>
                Администрацией колледжа, педагогическими работниками, художественными руководителями творческих коллективов уделяется большое внимание нравственному, эстетическому и патриотическому воспитанию студентов. Без преувеличения насыщенной и яркой можно назвать внеурочную жизнь студентов. Каждый может реализовать себя, участвуя в  деятельности молодежного творческого объединения «Дети КРИПТа».
            </p>
            <p>
                Традиционными и любимыми стали многие мероприятия: День Знаний, Посвящение в студенты, День студента, Дни здоровья, творческие встречи, тематические экскурсии.
                Праздничные концерты, подготовленные этими коллективами, всегда становятся ярким событием не только в жизни колледжа, но и города. Ежегодно на городском смотре-конкурсе духовной музыки и поэзии «Твори добро и красоту» среди ССУЗов г. Ростова-на-Дону Молодежное творческое объединение колледжа «Дети КРИПТа» занимает призовые места.
            </p>
            <p>
                На сегодняшний день колледж является одним из лучших учебных заведений среднего профессионального образования в Южном федеральном округе. Мы гордимся нашими преподавателями, посвятившими свою жизнь благородному делу – образованию и воспитанию подрастающего поколения. Мы гордимся молодыми педагогами, многие из которых являются нашими выпускниками. Мы делаем все для того, чтобы сохранить наши добрые традиции и всегда быть открытыми для нового, идти в ногу со временем, чтобы учиться в колледже было не только интересно, комфортно, но и престижно.
            </p>
        </div>
        <div class="description__group">
            <h2>Гордостью нашего учебного заведения являются его выпускники.</h2>
                <ul class="list-group">
                  <li class="list-group-item"><span>Калмыков В.Д.</span> – выпускник РИТа 1934 года, с 1954 по 1974 годы – министр радиопромышленности СССР. Лауреат Государственной премии СССР,  Герой Социалистического труда, награждён 7 орденами.</li>
                  <li class="list-group-item"><span>Барышевский Л.М.</span> – выпускник РИТа 1933 года,  кандидат технических наук, лауреат Ленинской премии за работы в области точного литья по выплавляемым моделям и плавке серого чугуна, работал главным металлургом завода «Ростсельмаш».</li>
                  <li class="list-group-item"><span>Павлов В.Л.</span> – выпускник  РИТа 1930 года, проработал в техникуме 75 лет, начинал с лаборанта, закончил  преподавателем физики и электротехники.</li>
                  <li class="list-group-item"><span>Романенко И.А.</span> – выпускник РАТа 1948 г. Директор Сарапульского радиозавода им. Орджоникидзе, награждён «Золотой звездой» героя социалистического труда, двумя орденами Ленина, орденом «Знак почёта».</li>
                  <li class="list-group-item"><span>Корсуненко А.Н.</span> – выпускник  РАТа 1947 года. Главный инженер «Укрэнергочермет» Министерства чёрной металлургии СССР. Награждён орденом «Трудового красного знамени», медалями.</li>
                  <li class="list-group-item"><span>Гончаров С.И.</span> – выпускник РАТа 1949 года. Доктор химических наук, ректор НПИ.</li>
                  <li class="list-group-item"><span>Соколов К.М.</span> – выпускник 1944 года РАТа. Мастер спорта по боксу, заслуженный тренер СССР Тренер заслуженного мастера спорта, олимпийского чемпиона по боксу Льва Мухина.</li>
                  <li class="list-group-item"><span>Гурова Е.П.</span> – выпускница  РАТа 1953 года. Старший технолог, начальник гальванического цеха Загорского оптико-механического завода. Начальник гальванического цеха завода «Гранит». Награждена орденом «Знак почёта».</li>
                  <li class="list-group-item"><span>Завьялов Н.В.</span> – окончил РАТ в 1955 г., директор Менделеевского центра стандартизации, метрологии и сертификации Госстандарта России.</li>
               </ul>  
        </div>
        <div class="description__group">
          <h2>Наши достижения</h2>
          <div class="swiper swiperRewards">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/1.jpg"/>
              </div>
             @* <div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/2.jpg" />
              </div>*@
              <div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/3.png" />
              </div>
              <div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/4.jpg" />
              </div>
              <div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/5.jpg" />
              </div>
              <div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/6.jpg" />
              </div>
              <div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/7.jpg" />
              </div>
              @*<div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/8.jpg" />
              </div>*@
              <div class="swiper-slide">
                <img style="width: 100%; display: block" src="~/images/description/9.jpg" />
              </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
        <div class="description__group">
        <h2>Социальные партнеры</h2>
        <div class="description__group-grid">  
            <div class="description__group-grid__item">
                <img style="width: 100%; display: block" src="~/images/description/partners/1.png"/>
            </div>
             <div class="description__group-grid__item">
                <img style="width: 100%; display: block" src="~/images/description/partners/2.png"/>
            </div>
             <div class="description__group-grid__item">
                <img style="width: 100%; display: block" src="~/images/description/partners/3.png"/>
            </div>
             <div class="description__group-grid__item">
                <img style="width: 100%; display: block" src="~/images/description/partners/4.png"/>
            </div>
             <div class="description__group-grid__item">
                <img style="width: 100%; display: block" src="~/images/description/partners/5.png"/>
            </div>
             <div class="description__group-grid__item">
                <img style="width: 100%; display: block" src="~/images/description/partners/6.png"/>
            </div>
        </div>
    </div>
    </div>
</div>
@*<script src="~/lib/swiper/package/swiper-bundle.min.js"></script>*@
 @* <script>
    var swiper1 = new Swiper(".swiperRewards", {
    effect: "cards",
      grabCursor: true,
    });
  
  </script>*@