@page
@model PrivacyModel
@{
    ViewData["Title"] = "Специальности";
}


<div class="container container-specialisations">
    <div class="list">
        <h1>Список специальностей</h1>
        <ul class="list-group">
            @for (int i = 0; i < Model.Specialisations.Count; i++)
            {
                <li>
                    <span>
                        <a style="text-decoration: none; color:black; font-family: 'Onest', sans-serif;" asp-page="/Специальности/Specialisation" asp-route-id="@i">@Model.Specialisations[i].Name</a>
                    </span>
                </li>
            }
        </ul>
    </div>
</div>
<div class="container container-doors">
    <div class="doors">
        <h1>Дни открытых дверей</h1>
        <h2>в 2023-2024 учебном году</h2>
        <ul class="list-group">
            <li class="list-group-item">29.10.2023</li>
            <li class="list-group-item">10.12.2023</li>
            <li class="list-group-item">04.02.2024</li>
            <li class="list-group-item">21.04.2024</li>
        </ul>
    </div>
</div>
